[*.cs]
file_header_template = Copyright (c) 2020-2021 Novagem Solutions S.r.l.\n\nThis file is part of Flutnet.\n\nFlutnet is a free software: you can redistribute it and/or modify\nit under the terms of the GNU Lesser General Public License as published by\nthe Free Software Foundation, either version 3 of the License, or\n(at your option) any later version.\n\nFlutnet is distributed in the hope that it will be useful,\nbut WITHOUT ANY WARRANTY, without even the implied warranty of\nMERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the\nGNU General Public License for more details.\n\nYou should have received a copy of the GNU Lesser General Public License\nalong with Flutnet.  If not, see <http://www.gnu.org/licenses/>.
