<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 
      Uncomment the following line (and set the proper path) if you need to reference 
......a Flutnet NuGet package that is yet to be published to NuGet Gallery 
      (like the temporary packages built within the xamarin-libs repository)
    -->
    <!--<add key="local-lib-packages" value="../flutnet_xamarin-libs/artifacts/nuget-packages" />-->
  </packageSources>
</configuration>