<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-binding-packages" value="../flutnet_xamarin-bindings/artifacts/nuget-packages" />
    <add key="local-lib-packages" value="../flutnet_xamarin-libs/artifacts/nuget-packages" />
  </packageSources>
</configuration>